html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  
  .main {
      display: flex;
      height: 100vh;
    }
  
  .venstre {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    background-image: url("gif/skyback.gif");
  }
  
  .høyre {
  width: 10%;
  height: 90%;
  background-color: purple;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  }
  
  .score {
    height: 5%;
    background-color: rgb(11, 245, 89);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    background-image: url("");
    
  }
  
  .money {
    height: 5%;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
    background-image: url("");
  }
  
  .coinbutton {
    background-color: transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
  }
  
  
  #textscore {
    color: yellow;
  }
  #numscore {
    color: yellow;
  }
  #cashsymbol {
    color: yellow;
  }